<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

<body>
    <div class="container">
        <div class="header">
           <%- include('../partials/header'); %>
        </div>
        <div class="content">
            
            <% try { %>
                <% if (!category || category === 'home' || category === undefined) { %>
                    <%- include('../partials/home'); %>
                <% } else { %>
                    <%- include(`../partials/${category}/${page}`); %>
                <% } %>
            <% } catch (error) { %>
                <h4>Resource <q><%= category ? '/' + category : '' %><%= page ? '/' + page : '' %></q> does not exist on this server.</h4>
                <a href="/home" class="btn btn-dark">Return to Home</a>
            <% } %>

            <div id="alertSpace"></div>
            <div class="modal modal-xl fade" id="generalModal" tabindex="-1" role="dialog" aria-labelledby="pageModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: darkcyan; border-color: darkgrey; color: white;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="pageModal">Title!</h5>
                        </div>
                        <div class="modal-body">
                            <p>Message!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <%- include('../partials/footer'); %>
        </div>
    </div>    
</body>
</html>
