<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>

<body>
    <div class="container">
        <div class="header">
           <%- include('../partials/header'); %>
        </div>
        <div class="content">
            
            <% try { %>
                <% if (!category || category === 'home' || category === undefined) { %>
                    <%- include('../partials/home'); %>
                <% } else { %>
                    <%- include(`../partials/${category}/${page}`); %>
                <% } %>
            <% } catch (error) { %>
                <div class="error-container">
                    <h1 class="error-heading">404</h1>
                    <h2 class="error-subheading">Not Found</h2>
                    <p class="error-fineprint">The requested <q><%= category ? '/' + category : '' %><%= page ? '/' + page : '' %></q> is not available on this server.</p>
                    <a href="/home" class="btn btn-secondary" style="font-size: 24px;">Return to Home</a>
                    <p class="tiny">Directed By<br>
                        <br>
                        40 SPECIALLY TRAINED
                        ECUADORIAN MOUNTAIN LLAMAS
                        <br>
                        6 VENEZUELAN RED LLAMAS
                        <br>
                        142 MEXICAN WHOOPING LLAMAS
                        <br>
                        14 NORTH CHILEAN GUANACOS
                        (CLOSELY RELATED TO THE LLAMA)
                        <br>
                        REG LLAMA OF BRIXTON
                        <br>
                        76000 BATTERY LLAMAS
                        FROM "LLAMA-FRESH" FARMS LTD. NEAR PARAGUAY
                        <br>
                        and
                        <br>
                        TERRY GILLIAM & TERRY JONES</p>
                </div>
                
            <% } %>

            <div id="alertSpace"></div>
            <div class="modal modal-xl fade" id="generalModal" tabindex="-1" role="dialog" aria-labelledby="pageModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content" style="background-color: darkcyan; border-color: darkgrey; color: white;">
                        <div class="modal-header">
                            <h5 class="modal-title" id="pageModal">Title!</h5>
                        </div>
                        <div class="modal-body">
                            <p>Message!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <%- include('../partials/footer'); %>
        </div>
    </div>    
</body>
</html>
